<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">JSON Placeholder by Zak</h1>
    <p class="lead text-muted">
      A creative advertiser, turned web developer. I gave myself a time constraint of five hours to complete as much as I could for this project.
    </p>
    <p class="lead text-muted">
      Below you can view User data and Post data from the API.
    </p>
    <p>
      <a href="#" class="btn btn-primary my-2">Users</a>
      <a href="#" class="btn btn-secondary my-2">Posts</a>
    </p>
  </div>
</section>